html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

body { 
  position: relative;
}

@font-face {
  /* Mermaid font */
  font-family: 'ArmoukRegular';
  src: url('./assets/ArmoukRegular.otf');
}

@font-face {
  /* text font */
  font-family: 'Montserrat-Regular';
  src: url('./assets/Montserrat-Regular.ttf');
}

@font-face {
  /* text font 2 */
  font-family: 'Montserrat-Bold';
  src: url('./assets/Montserrat-Bold.ttf');
}