html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

body { 
  position: relative;
}

@font-face {
  /* font di Mermaid */
  font-family: 'ArmoukRegular';
  src: url('./assets/ArmoukRegular.otf');
}

/* Montserrat: ci sono tutti i pesi */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');