html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

body { 
  position: relative;
}

@font-face {
  /* Mermaid font */
  font-family: 'ArmoukRegular';
  src: url('./assets/ArmoukRegular.otf');
}

/* text font */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

